
/* ================= index.html ================= */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0);
}
.navbar-default .navbar-toggle {
    border-color: rgba(221, 221, 221, 0);
}

.navbar-default .navbar-brand {
    font-weight: bolder;
    font-family: sans-serif;
    color: #5a5a5a;
    font-size: 25px;
    margin-top: 5px;
}

.navbar-default {
    background-color: #ffd97f;
    border-color: white;
}

.nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #f00;
    border-radius: 4px 4px 0 0;
    color: #ff6363;
}

.btnCreate {
    background-color: #ffd97f;
    border-color: #000;
    margin-top: 10px;
}

.btnCreateMobile {
    background-color: #ffd97f;
    border-color: #000;
}

.btnCreate:hover {
    color: #f00;
    background-color: #ffd97f;
    border-color: #ff0000;
}

@media only screen and (max-width: 750px) {
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:focus,
  .nav-tabs.nav-justified > .active > a:hover {
      border-bottom-left-radius: 0.2em;
      border-bottom-right-radius: 0.2em;
      color: #fd0000;
      border: 1px solid #fd0000;
  }
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:hover {
    font-weight: bolder;
    border-top: 1px solid #fd0000;
    border-left: 1px solid #fd0000;
    border-right: 1px solid #fd0000;
    color: #fd0000;
}

.table {
    border-bottom: 1px solid #fd0000;
    /*max-width: 970px;*/
}

.table > thead > tr > th {
    font-weight: normal;
    color: #969696;
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td {
    padding: 10px;
}

@media only screen and (max-width: 750px) {
  .table > tbody > tr > td {
      padding: 8px;
  }
}

.btnDelete:hover {
    color: #f00;
    background-color: #e6e6e6;
    border-color: #ff0000;
}

#pTitle {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#pDescription {
  color: silver;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#btnRowDel {
  text-align: left;;
}

#chkRow {
  text-align: right;
}


/* ================= create.html ================= */
.panel-default > .panel-heading {
    color: #333;
    background-color: #e0e0e0;
    /*border-bottom: 2px solid #ffb300;*/
    border-bottom: 2px solid red;
}

.check-true {
  text-decoration: line-through;
  color: grey;
}
