<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a ui-sref="all">All</a></li>
  <li role="presentation"><a ui-sref="todo">To do</a></li>
  <li role="presentation"><a ui-sref="completed">Completed</a></li>
</ul>

<table class="table table-condensed">
  <thead>
    <tr>
      <th class="col-md"> </th>
      <th class="col-md"> </th>
      <th class="col-md-10">Title</th>
      <th class="col-md">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, data) in datasets">
      <td class="col-md">
        <input type="checkbox" name="" value="" ng-model="data.check">
      </td>
      <td class="col-md">{{ key }}</td>
      <td class="col-md">{{ data.title }}</td>
      <td class="col-md">
        <button type="button" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
